*{
     margin: 0;
     border: 0;
     box-sizing: border-box;
}
.main-container{
     text-align:center;
     animation-name:anime;
     color:orange;
     animation-duration: 2s;
     animation-iteration-count:infinite;
     
}
@keyframes anime {
     from{color:red;}
     to{color:blue;}
     
}
body{
    
     background-image:linear-gradient(to right,rgb(185, 150, 79),lightgreen)
     
}
.parent-container{
     border:3px solid black;
     width: 25vw;
     height:65vh;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
     margin-left: 36rem;
     margin-top:8rem;
     background-image:linear-gradient(to bottom,lightblue,rgb(140, 173, 184),lightcoral)
}
.functional-container{
     text-align:center;
}
